body {
  /* background-color: #28d44a; */
}

.home {
  background-color: #d428ba;
  height: 100vh;
  background-image: url("https://images.pexels.com/photos/1571459/pexels-photo-1571459.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  color: #db1313;
  background-color: #4d28d4;
}
